<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITutoringService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8095/UserService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserService" contract="TutoriasServiceReference.IUserService"
                name="NetTcpBinding_IUserService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8095/ShiftService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ITutoringService" contract="TutoriasServiceReference.ITutoringService"
                name="NetTcpBinding_ITutoringService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>