<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TutoriasServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings>
		<add name="TurnosTutoriasEntities"
    connectionString="metadata=res://*/TutoriasModel.csdl|res://*/TutoriasModel.ssdl|res://*/TutoriasModel.msl;&#xD;&#xA;                           provider=System.Data.SqlClient;&#xD;&#xA;                           provider connection string=&quot;&#xD;&#xA;                             data source=LAPTOP-EGNKHEPD;&#xD;&#xA;                             initial catalog=TurnosTutorias;&#xD;&#xA;                             user id=Fausto;&#xD;&#xA;                             password=mendez100%;&#xD;&#xA;                             trustservercertificate=True;&#xD;&#xA;                             MultipleActiveResultSets=True;&#xD;&#xA;                             App=EntityFramework&quot;"


    providerName="System.Data.EntityClient" />
	</connectionStrings>


	<appSettings>
		<add key="Email" value="zS20015719@estudiantes.uv.mx" />
		<add key="EmailPassword" value="MENDEZ100%" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="LargeMessageBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
       receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
					<security mode="None" />
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
				</binding>
			</netTcpBinding>
			<wsDualHttpBinding>
				<binding name="DualHttpBindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" />
			</wsDualHttpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service name="ServiceImplementacion.TutoringFacadeService">
				<endpoint
				  address="net.tcp://localhost:8095/UserService"
				  binding="netTcpBinding"
				  bindingConfiguration="LargeMessageBinding"
				  contract="ServiceContracts.IUserService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<endpoint
				  address="net.tcp://localhost:8095/ShiftService"
				  binding="netTcpBinding"
				  bindingConfiguration="LargeMessageBinding"
				  contract="ServiceContracts.ITutoringService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<endpoint
				  address="net.tcp://localhost:8095/NotificationService"
				  binding="netTcpBinding"
				  bindingConfiguration="LargeMessageBinding"
				  contract="ServiceContracts.INotificationCallbacks">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
	   
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:8085" />
      <add baseAddress="net.tcp://localhost:8095" />
     </baseAddresses>
    </host>
   </service>
  </services>
		<client>
			<!-- existing UserService endpoint -->
			<endpoint
			  name="NetTcpBinding_IUserService"
			  contract="ServiceContracts.IUserService"
			  binding="netTcpBinding"
			  bindingConfiguration="LargeMessageBinding"
			  address="net.tcp://localhost:8095/UserService" />

			<!-- new TutoringService endpoint -->
			<endpoint
			  name="NetTcpBinding_ITutoringService"
			  contract="ServiceContracts.ITutoringService"
			  binding="netTcpBinding"
			  bindingConfiguration="LargeMessageBinding"
			  address="net.tcp://localhost:8095/ShiftService" />

			<!-- new TutoringService endpoint -->
			<endpoint
			  name="NetTcpBinding_INotificationCallbacks"
			  contract="ServiceContracts.INotificarionCallbacks"
			  binding="netTcpBinding"
			  bindingConfiguration="LargeMessageBinding"
			  address="net.tcp://localhost:8095/NotifiactionService" />
		</client>
	</system.serviceModel>
	
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

	<userSettings>
		<TutoriasServer.Properties.Settings>
			<setting name="Email" serializeAs="String">
				<value>zS20015719@estudiantes.uv.mx</value>
			</setting>
			<setting name="EmailPassword" serializeAs="String">
				<value>MENDEZ100%</value>
			</setting>
		</TutoriasServer.Properties.Settings>
	</userSettings>


</configuration>